<div class="home-page">
    <div class="banner">
        <div class="container">
            <h4 class="logo-font">Audio Transcribe</h4>
        </div>
    </div>

    <div class="container page">
        <input type="file" class="file-input" (change)="onFileSelected($event)" #fileUpload>
        <h5>Select your audio file then system will be transcribe it immediately</h5>
        <div class="file-upload">

            {{fileName || "No file uploaded yet."}}

            <button mat-mini-fab color="primary" class="upload-btn" (click)="fileUpload.click()">
                <mat-icon>attach_file</mat-icon>
            </button>
        </div>

        <br/>
        <br/>
        <div *ngIf="processing">
            <p>Processing...</p>
        </div>
        <br/>
        <h4>Result</h4>
        <br/>
        <span  style="width: 720px;height: 120px;"><p>{{text_result}}</p></span>
    </div>
</div>