<div class="home-page">
    <div class="banner">
        <div class="container">
            <h4 class="logo-font">Text To Speech</h4>
        </div>
    </div>

    <div class="container page">
        <h4>Text want to play</h4>
        <br />
        <textarea style="width: 720px;height: 120px;" [(ngModel)]="textInput" name="textInput"></textarea>
        <br/>
        <br/>
        <br/>
        <br/>
        <button class="btn btn-primary" (click)="onSubmit($event)" type="button" [disabled]="processing">{{processing ? 'Processing' : 'Start TTS'}}</button>
        <br/>
        <br/>
        <br/>
        <audio id="audio_result" controls #audioResult></audio>
        <div *ngIf="errorMessage && errorMessage.length > 0">
            ERROR: {{errorMessage}}
        </div>
    </div>
</div>