<div class="home-page">
    <div class="banner">
        <div class="container">
            <h4 class="logo-font">Audio Translate</h4>
        </div>
    </div>

    <div class="container page">
        <input type="file" class="file-input" (change)="onFileSelected($event)" #fileUpload>
        <h5>Select Vietnamese audio file (WAV extension) <br/> then system will be translate it immediately</h5>
        <div class="file-upload">

            {{fileName || "No file uploaded yet."}}

            <button mat-mini-fab color="primary" class="upload-btn" (click)="fileUpload.click()">
                <mat-icon>attach_file</mat-icon>
            </button>
        </div>

        <br/>
        <br/>
        <br/>
        <div *ngIf="processing">
            <p>Processing...</p>
        </div>
        <h4>Result</h4>
        <br/>
        <audio id="audio_result" controls #audioResult></audio>
        <div *ngIf="errorMessage && errorMessage.length > 0">
            ERROR: {{errorMessage}}
        </div>
    </div>
</div>